@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 背景自适应容器大小 */
@mixin bgCover($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
}

@mixin noData($url) {
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #666;
  line-height: 60px;
}

